.chat-window {
    height: 100%;
    position: relative;
}

.chat-input {
    bottom: 0;
    height: 100px;
    left: 0;
    padding: 25px;
    position: absolute;
    width: 100%;
}

.chat-history {
    bottom: 100px;
    position: absolute;
    width: 100%;
}